html {
    height: 100%;
}

body {
    padding: 0;
    height: calc(100% - 16px);
    display: flex;
    justify-content: center;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
    width: 80%;
}

.image-notification {
    padding: 25px !important;
    width: 310px !important;
    justify-content: space-evenly;
    user-select: none;
}

.image-notification > .el-notification__icon {
    height: auto !important;
    width: auto !important;
    align-items: start !important;
}

.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center; 
}

@media only screen and (max-width: 1000px) {
    #app {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    #app {
        width: 100%;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(163, 166, 173, 0.3) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(163, 166, 173, 0.3);
    border-radius: 10px;
    border: 3px none transparent;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(163, 166, 173, 0.5);
}


/* ===== Theming ===== */
html.cafe body {
    background-color: #9c6b30;
}
html.cafe h1{
    color: #3f2a11;
}
html.cafe h2{
    color: #9b800b;
}
html.cafe {
    color-scheme: dark;
    --el-color-primary: #553207;
    --el-color-primary-light-3: #a16c2b;
    --el-color-primary-light-5: #8f5e22;
    --el-color-primary-light-7: #694518;
    --el-color-primary-light-8: #523512;
    --el-color-primary-light-9: #3f2a11;
    --el-color-primary-dark-2: #309c47;
    --el-text-color-regular: #9b800b;
    --el-text-color-secondary: #351d00;
    --el-text-color-placeholder: #9b800b;
    --el-bg-color-overlay: #3f2a11;
    --el-border-color: #694518;
    --el-fill-color-blank: #523512;
    --el-border-color-extra-light: #664823;
    --el-button-disabled-border-color: #6d5b09;
    --el-fill-color: #301d05;
    --el-fill-color-light: #694518;
    --el-border-color-light: #9c6b30;
    --el-menu-text-color: #c57d25;
}
html.cafe .el-radio-button{
    --el-radio-button-checked-text-color: #d6af00;
}
